.ticker {
    font-size: 20px;
    font-weight: bold;
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-put {
    width: 25px;
    height: 20px;
    text-align: center;
}