.position-chit {
    padding: 10px;
    width: 200px;
    display: inline-flex;
    margin: 5px;
}

.ticker {
    width: 55px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-put {
    height: 20px;
    text-align: center;
}