name: Create tag
on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [merged]
jobs:
  merge-master-to-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"

    - name: Compile typescript
      run: |
          npm i typescript
          tsc
          git add .
          git commit -m 'Auto-compile typescript'
          git push

    - name: Create Tag
      run: |
          npm version patch
          VERSION=$(grep version package.json | awk -F \" '{print $4}')
          git tag $VERSION
          # git push origin --tags