name: Create tags
on: 
  workflow_run:
    workflows: ["Increment Version"]
    types:
      - completed

jobs:
  create-ui-tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions" 

    - name: Create ui-release branch
      run: |
          git checkout -b ui-release
          git push --set-upstream origin ui-release

    - name: Build UI
      run: |
          cd services/PennyUI
          npm i
          npm run build
          cd ..
          cd ..
          mv services/PennyUI/build bundle

    - name: Clean folder
      run: |
          for FILE in *; do
            if [[ $FILE != "Dockerfile-ui" && $FILE != "bundle" ]]; then
              rm -rf $FILE
            fi
          done
          mv Dockerfile-ui Dockerfile
          git add .
          git commit -m 'Auto: Create UI Build'
          git push

    - name: Create Tag
      run: |
          npm --no-git-tag-version version patch
          VERSION=$(grep version package.json | awk -F \" '{print $4}')
          echo v$VERSION-ui
          git tag -a v$VERSION-ui
          git push origin --tags

    - name: Delete ui-release branch
      run: |
          git checkout master
          git branch -D ui-release
          git push origin --delete ui-release


  create-penny-ic-tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"

    # Have to create a new branch so JS files don't end up in master
    - name: Create release branch
      run: |
          git checkout -b release
          git push --set-upstream origin release

    - name: Remove other services
      run: |
          rm -rf services/PennyUI
          rm -rf services/Penny-Data

    - name: Compile typescript
      run: |
          npm i typescript
          tsc
          mv Dockerfile-ic Dockerfile
          git add .
          git commit -m 'Auto: Compile Typescript'
          git push

    - name: Create Tag
      run: |
          npm --no-git-tag-version version patch
          VERSION=$(grep version package.json | awk -F \" '{print $4}')
          git tag -a v$VERSION-ic
          git push origin --tags

    - name: Delete release branch
      run: |
          git checkout master
          git branch -D release
          git push origin --delete release