name: Deploy NP

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Test ENV
      run: echo ${secrets.BASEPATH}

    # - name: Build the Docker image
      # run: docker build . --file Dockerfile --tag penny-np:$(date +%s)
