name: Run Tests
on: 
  pull_request:
    types: [opened]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: yarn install

    - name: Run tests
      run: yarn test